
.swiper{
  padding: 0 5rem;
  box-sizing: border-box;
  overflow: visible !important;
}
.carousel-container {
  overflow-x: hidden !important;
  position: relative;
  width: 100%;
  max-width: 3200px;
  margin: 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-title {
  font-size: 2em; 
  font-weight: bold; 
  color: #ffffff; 
  margin: 0;
}

.movie-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}
.isSerie{
  position:absolute;
  top:5%;
  left:3%;
  background-color:#242424;
  font-weight: 800;
  font-size: 0.7rem;
  padding: 0.1rem;
}