/*.App {
    text-align: center;
  }
    /
  
  .carousel-container {
    width: 90%;
    margin: 20px auto;
    text-align: center;
    height: 50vh;
  }
  
  .movie-card {
    height: 50vh;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card h3 {
    margin: 10px 0;
    font-size: 1.2em;
  }
  /*.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}*/

.carousel-container {
  position: relative;
  width: 90%;
  max-width: 3200px;
  margin: 0 auto;
  /*text-align: center;*/
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.carousel-title {
  /*position: absolute;*/ 
  /*top: -40px;*/ 
  /*left: 20px;*/ 
  font-size: 2em; 
  font-weight: bold; 
  color: #ffffff; 
  margin: 0;
}

.movie-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  display: block;
}
.isSerie{
  position:absolute;
  top:5%;
  left:3%;
  background-color:#242424;
  font-weight: 800;
  font-size: 0.7rem;
  padding: 0.1rem;
}